// ---------------------------------------VARIABLES---------------------------------

@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/Fonts/wisdom-script-cufonfonts/Wisdom\ Script\ AJ.otf);
    }

$mian-color: (#fed136);
$main-dark-color: (#222222);
$main-light-color: (#87949e);
$main-lighter-color: (#edeff1);
$main-white-color: (white);

$nav-height: 60px;

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pseudo ($width, $height, $top, $right, $bottom, $left, $bg){
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    background-color: $bg;
}

// ---------------------------------------GLOBAL---------------------------------

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    position: relative;
    
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.main-container{
    @include flex-center();
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 100px 6vw 120px;

    background-color: $mian-color;
}

.section-title{
    display: block;
    width: 100%;
    margin-bottom: 160px;
    text-align: center;
    
    h2{
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        
        color: $main-dark-color;
        font-size: 60px;
        font-weight: 100;
        margin-bottom: 85px;
        
        &::before{
            @include pseudo(20%, 2px, auto, 50%, -40px, auto, $mian-color);
            transform: translateX(50%);
        }
    }
    
    p{
        color: $main-light-color;
        font-size: 18px;
    }
}

.btn-main{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    
    background: none;
    border: 2px solid white;
    border-radius: 50px;
    
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
    
    p{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        
        color: white;
        font-weight: 900;
        
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: .3s;
    }
    
    &::before{
        @include pseudo(100%, 100%, 0, 0, auto, auto, white);
        transform: translateY(100%);
        transition: .3s;
    }
    
    &:hover::before{
        transform: translateY(0%);
        
    }
    
    &:hover p{
        color: $mian-color;
    }
}

.btn-secondary{
    display: inline-block;
    
    margin-top: 80px;
    
    color: $main-dark-color;
    background-color: $main-dark-color;
    
    border: none;
    
    p{
        text-align: center;
        color: white;
    }
    
    &::before{
        @include pseudo(100%, 100%, 0, 0, auto, auto, $mian-color);
    //     transform: translateY(100%);
    //     transition: .3s;
}

&:hover::before{
    transform: translateY(0%);
    
}
    
&:hover p{
    color: white;
}
}

// ---------------------------------------NAVIGATION---------------------------------

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 90;

    
    @include flex-center();
    flex-direction: column;
    justify-content: space-around;

    background-color: $main-dark-color;
    
    .logo{
        height: $nav-height;
        z-index: 100;
        width: 100%;
        padding: 0 20px;

        text-align: center;
        background-color: $main-dark-color;

        p{
                font-family: 'Wisdom Script Regular';
                font-size: 36px;
                color: $mian-color;
                line-height: calc($nav-height - 10px);
        }

    }

    .show-menu{
        display: none;
    }
    .show-menu:checked ~ .nav-list{
        transform: translateY(0);
    }
    
    .nav-btn{
        position: absolute;
        right: 20px;
        z-index: 100;
        
        background-color: transparent;
        border: none;
        
        font-size: 30px;
        color: $main-white-color;
    }
    
    
    
    .nav-list{
        @include flex-center();
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        padding: 10vh;
        
        background-color: $main-dark-color;
        
        transform: translateY(-100%);
        transition: transform .5s;
        
        .nav-item-check{
            display: none;
        }
        
        .nav-item{
            width: 100%;
            padding: 15px 0;
            
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Montserrat';
            font-weight: 100;
            font-size: 14px;
            color: $main-white-color;
            letter-spacing: 2px;
            border-radius: 5px;

            transition: .3s;

            &:hover {
                color: $mian-color;
            }
        }
        
    }
}

// ---------------------------------------HEADER---------------------------------

header{
    height: 100vh;
}

// ---------------------------------------HEADER---------------------------------

section{
    height: 100vh;
    background-color: $main-light-color;
}

footer{
    height: 100vh;
    background-color: $main-lighter-color;
}

// ---------------------------------------MEDIA---------------------------------

@media (width <= 576px){
    .main-container{
        width: 100%;
        // max-width: none;
    }
}

@media (576px <= width){
    .main-container{
        max-width: 540px;
        padding: 100px 0 120px;

    }
}

@media (768px <= width){

    .main-container{
        max-width: 720px;
    }
}

@media (992px <= width){

    .main-container{
        max-width: 960px;
    }

    .navigation{
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        
        padding: 0 5vw;
        
        .nav-btn{
            display: none;
        }
        
        .logo{
            width: auto;
            background-color: transparent;
        }
        
        .nav-list{
            position: relative;
            flex-direction: row;
            
            width: 70%;
            height: auto;
            padding: 5px 0;
            transform: translateY(0);
            
            background-color: transparent;
        }
    }
}

@media (1200px <= width){
    .main-container{
        max-width: 1140px;
    }

    .navigation{

        .nav-list{
            width: 60%;
        }
    }
}

@media (1400px <= width){
    .main-container{
        max-width: 1320px;
    }

    .navigation{

        .nav-list{
            width: 50%;
        }
    }
}
