// ---------------------------------------VARIABLES---------------------------------

@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/Fonts/wisdom-script-cufonfonts/Wisdom\ Script\ AJ.otf);
    }

$mian-color: (#fed136);
$main-dark-color: (#222222);
$main-light-color: (#87949e);
$main-lighter-color: (#edeff1);
$main-white-color: (white);

$nav-height: 60px;

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pseudo ($width, $height, $top, $right, $bottom, $left, $bg){
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    background-color: $bg;
}

// ---------------------------------------GLOBAL---------------------------------

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    position: relative;
    
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

section{
    padding: 120px 0 0;
}

.main-container{
    @include flex-center();
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0 5vw 0;
}

.content-wrapper{
    @include flex-center();
    flex-direction: column;
    margin-bottom: 75px;
    
    text-align: center;
    
    .content-text{
        .content-title{
            margin-bottom: 15px;
            font-weight: 900;
        }
        
        p{
            font-family: 'Roboto Slab';
            color: $main-light-color;
        }
    }
}

.section-title{
    display: block;
    width: 100%;
    margin-bottom: 75px;
    text-align: center;
    
    h2{
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        margin-bottom: 25px;
        
        color: $main-dark-color;
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        
        &::before{
            @include pseudo(20%, 2px, auto, 50%, -10px, auto, $mian-color);
            transform: translateX(50%);
        }
    }
    
    p{
        font-size: 16px;
        font-family: 'Cormorant Garamond';
        font-weight: bold;
        color: $main-light-color;
        text-align: center;
        font-style: italic;
        letter-spacing: 1px;
    }
}

.btn-main{
    @include flex-center();
    position: relative;
    width: 200px;
    height: 55px;
    margin: 0 auto;
    
    background-color: $mian-color;
    border-radius: 5px;
    
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
    
    p{
        font-family: 'Montserrat';
        color: white;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
        
        transform-origin: center;
        transition: .3s;

        z-index: 5;
    }
    
    &::before{
        @include pseudo(100%, 100%, 0, 0, auto, auto, white);
        transform: translateY(100%);
        transition: .3s;
    }
    
    &:hover::before{
        transform: translateY(0%);
        
    }
    
    &:hover p{
        color: $main-light-color;
    }
}

.btn-secondary{
    display: inline-block;
    
    margin-top: 80px;
    
    color: $main-dark-color;
    background-color: $main-dark-color;
    
    border: none;
    
    p{
        text-align: center;
        color: white;
    }
    
    &::before{
        @include pseudo(100%, 100%, 0, 0, auto, auto, $mian-color);
    //     transform: translateY(100%);
    //     transition: .3s;
}

&:hover::before{
    transform: translateY(0%);
    
}
    
&:hover p{
    color: white;
}
}

.underline-animation{
    position: relative;
    display: inline-block;
    width: 100%;

    &::before{
        @include pseudo(20%, 2px, auto, 50%, -10px, auto, $mian-color);
        transform: translateX(50%) scale(0);
        transition: .5s;
    }
}

// ---------------------------------------NAVIGATION---------------------------------

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 90;

    
    @include flex-center();
    flex-direction: column;
    justify-content: space-around;

    background-color: $main-dark-color;
    
    .logo{
        height: $nav-height;
        z-index: 100;
        width: 100%;
        padding: 0 20px;

        text-align: center;
        background-color: $main-dark-color;

        p{
                font-family: 'Wisdom Script Regular';
                font-size: 36px;
                color: $mian-color;
                line-height: calc($nav-height - 10px);
        }

    }

    .show-menu{
        display: none;
    }
    .show-menu:checked ~ .nav-list{
        transform: translateY(0);
    }
    
    .nav-btn{
        position: absolute;
        right: 20px;
        z-index: 100;
        
        background-color: transparent;
        border: none;
        
        font-size: 30px;
        color: $main-white-color;
    }
    
    
    
    .nav-list{
        @include flex-center();
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        padding: 10vh;
        
        background-color: $main-dark-color;
        
        transform: translateY(-100%);
        transition: transform .5s;
        
        .nav-item-check{
            display: none;
        }
        
        .nav-item{
            width: 100%;
            padding: 15px 0;
            
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Montserrat';
            font-weight: 100;
            font-size: 14px;
            color: $main-white-color;
            letter-spacing: 2px;
            border-radius: 5px;

            transition: .3s;

            &:hover {
                color: $mian-color;
            }
        }
        
    }
}

// ---------------------------------------HEADER---------------------------------

header{
    @include flex-center();

    height: 100vh;
    width: 100%;

    background-image: url(../images/main-BG-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .main-container{

        .content-wrapper{
            @include flex-center();
            flex-direction: column;

            h2{
                margin-bottom: 50px;
                font-size: 20px;
                font-family: 'Cormorant Garamond';
                color: $main-white-color;
                text-align: center;
                font-style: italic;
            }
            
            h1{
                margin-bottom: 60px;
                font-size: 35px;
                color: $main-white-color;
                text-transform: uppercase;
                text-align: center;

            }
        }
    }
}

// ---------------------------------------SERVICES---------------------------------

#services{
    
    .main-container{

        .content-wrapper{
            
            .content-img{
                @include flex-center();
                width: 75px;
                height: 75px;
                margin-bottom: 25px;
                
                border: 3px solid $mian-color;
                border-radius: 50%;
                
                transition: .5s;
                
                svg{
                    width: 40px;
                    fill: $mian-color;
                    transition: .5s;
                }
                
                &.img3{
                    svg{
                        height: 40px;
                    }
                }
            }
            
            &:hover {
                .content-img{
                    border: 5px solid $mian-color;
                    transform: rotateY(360deg);
                }

                .underline-animation{
                    &::before{
                        transform: translateX(50%) scale(1);
                        transform-origin: center;
                    }
                }
            }
        }
    }
}

// ---------------------------------------PORTFOLIO---------------------------------

#portfolio{
    background-color: $main-lighter-color;

    .main-container{

        .content-wrapper{
            width: 350px;
            background-color: $main-white-color;

            transition: transform .5s, box-shadow .5s;
            cursor: pointer;
            
            .content-img{
                @include flex-center();
                position: relative;
                width: 100%;
                height: 350px;
                overflow: hidden;

                text-align: center;

                img{
                    position: absolute;
                    height: auto;
                    width: 350px;
                    // bottom: 0;
                    // left: 0;

                    transform: scale(1.02);
                    transform-origin: center;
                    transition: transform .5s;
                }
            }

            .content-text{
                padding: 30px 0;

                .content-title{
                    margin-bottom: 0;
                }

                p{
                    font-family: 'Cormorant Garamond';
                    font-style: italic;
                    font-weight: bold;
                }
            }
            
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px $main-light-color;

                .content-img{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

// ---------------------------------------FOOTER---------------------------------

footer{
    padding: 50px 0;
    background-color: $main-white-color;

    .main-container{

        .social-media{
            @include flex-center();

            .social-icon{
                @include flex-center();
                width: 40px;
                height: 40px;
                margin-right: 20px;

                background-color: $main-dark-color;
                border-radius: 50%;
                transition: .3s;

                &:hover{
                    transform: scale(1.1);

                    &.social-icon{
                        background-color: $mian-color;
                    }
                }
            }
        }
    }
}

// ---------------------------------------MEDIA---------------------------------

@media (576px <= width){
    .main-container{
        max-width: 540px;
    }
}

@media (768px <= width){

    .main-container{
        max-width: 720px;
    }

    .btn-main{
        width: 240px;
        height: 65px;
        p{
            font-size: 18px;
        }
        &::before{
        }
        &:hover::before{
            
        }
        &:hover p{
        }
    }

    header{
        .main-container{
    
            .content-wrapper{
    
                h2{
                    font-size: 40px;
                }
                
                h1{
                    font-size: 75px;
                }
            }
        }
    }

    #services{

        .main-container{
            justify-content: space-around;
    
            .content-wrapper{
                width: 25%;
                
                .content-img{
    
                    svg{
                    }
                }
    
                .content-text{

                    h4{
                    }
    
                    p{
                    }
                }
            }
        }
    }
}

@media (992px <= width){

    .main-container{
        max-width: 960px;
        padding: 0;
    }

    .navigation{
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        
        padding: 40px 5vw 0;

        &::before{
            @include pseudo(100%, 100%, 0, auto, auto, 0, $main-dark-color);
            transform: translateY(-100%);
            transition: .3s;
        }
        
        &:hover{
            &::before{
                transform: translateY(0);
            }
        }
        
        .nav-btn{
            display: none;
        }
        
        .logo{
            width: auto;
            background-color: transparent;
        }
        
        .nav-list{
            position: relative;
            flex-direction: row;
            
            width: 70%;
            height: auto;
            padding: 5px 0;
            transform: translateY(0);
            
            background-color: transparent;
        }
    }
}

@media (1200px <= width){

    .main-container{
        max-width: 1140px;
    }

    .navigation{

        .nav-list{
            width: 60%;
        }
    }

    #portfolio{
        background-color: $main-lighter-color;
    
        .main-container{
    
            .content-wrapper{
                // width: 30%;

                .content-img{
                }
    
                .content-text{
    
                    .content-title{
                    }
    
                    p{
                    }
                }
            }
        }
    }

}

@media (1400px <= width){
    .main-container{
        max-width: 1320px;
    }

    .navigation{

        .nav-list{
            width: 50%;
        }
    }
}
